<aside>
    <h1>favorite stores</h1>
    <a href="storepage1.html">ShoeGame Manila</a>
    <a href="storepage2.html">Soku Racing Car Accessories</a>
    <a href="storepage3.html">Thrift Apparel MNL</a>
    <a href="storepage4.html">Kangkong Chips</a>
    <a href="storepage5.html">Octagon Computer Superstore</a> 
</aside>