<!-- HARDCODED FOR NOW -->
<aside>
    <h1>followed stores</h1>
    <a href="/store/ShoeGameManila">ShoeGameManila</a>
    <a href="/store/SokuRacingCarAccessories">SokuRacingCarAccessories</a>
    <a href="/store/ThriftApparelMNL">ThriftApparelMNL</a>
    <a href="/store/KangkongChips">KangkongChips</a>
    <a href="/store/OctagonComputerSuperstore">OctagonComputerSuperstore</a> 
</aside>