<header>
    <h1 id="logo">re*curate</h1>
    <form></form>
    <div>
        <button><a href="/register">Register</a></button>
        <button><a href="/login">Login</a></button>
    </div>
</header>