<header>
    <a href="/" id="logo">re*curate</a>
    <form>
        <input type="text" name="searchbar">
        <input type="submit" value="Search">
    </form>
    <button><a href = "/review">+ Post</a></button>
    <button><a href = "/login">Log out</a></button>
</header>
