<header>
    <a href="browse.html" id="logo">re*curate</a>
    <form>
        <input type="text" name="searchbar">
        <input type="submit" value="Search">
    </form>
    <button><a href = "reviewpage.html">+ Post</a></button>
</header>