@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    background-color: hsl(0, 0%, 5%);
    color: whitesmoke;
    font-family: 'Space Mono', monospace;

    min-width: none;
}

button, input {
    border: 1px solid white;
    border-radius: 2px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#logo {
    font-weight: normal;
    font-size: 28px;
    text-decoration: none;
    margin: 0.67em 0;
}

form {
    margin: 0 auto;
}

#store-name {
    font-size: 24px;
}

hr {
    border: 1px dashed white;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}

aside {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 15%;
}

main {
    width: 60%;
}

.post-card {
    border: 1px solid white;
    border-radius: 2px;
    padding: 15px;
    margin: 15px 0;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;
}

.flex-container {
    max-width: 600px;
    margin: 0 auto;
}

.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color: rgb(55, 55, 55);
    transition: color 0.3s;
}

.star:hover,
.star.active {
    color: white;
}

.form-element {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
    margin-right: 10px;
}

/* Media query to adjust styles based on viewport width */
@media screen and (min-width: 601px) {
    .flex-container {
        margin: 0; /* Remove auto margin for centering */
    }
}
