<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link href="/common/form.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="frontpage.js"></script>
    </head>

<body>
{{{body}}}
</body>
</html>