<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- It makes it so that the contents of the public folder are exposed -->
    <!-- on the same directory as the page displayed. -->
    <link href="/common/{{style}}" rel="stylesheet" />
  </head>
  <body>
{{{body}}}
  </body>
</html>
