{{> formheader}}
<div id="content">
    <div id="spacer"></div>
    <div class="post-card">
        <p>{{message}}</p>
        <form action="/" method="get">
            <button type="submit" class="btn">Okay</button>
        </form>
    </div>
    <div id="spacer"></div>
</div>