<header>
    <h1 id="logo">re*curate</h1>
    <form></form>
    <button><a href="index.html">Register</a></button>
</header>
<div id="content">
    <div id="spacer"></div>
    <div class="post-card">
        <h1>Login:</h1>
        <form action="read-user" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="user" required>
            </div>
            <div class="form-group">                       
                <label for="password">Password:</label>
                <input type="password" id="password" name="pass" required>
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
    <div id="spacer"></div>
</div>