<!-- To put files in each other -->
<!-- TODO: EDIT -->
<div class="body-parent">
    {{> header}}
    <hr>
    <div id="content">
        {{> favorite}}
        <!-- MAIN HERE, use #each data -->
        <main>
            <div class="post-card">
                <h2>ShoeGame Manila</h2>
                <h1>sneakerloverzzz</h1>
                <p>I bought a pair of Nike Air Max 270 from this store and I'm very happy with them. They are comfortable, stylish, and durable. The delivery was fast and the customer service was friendly. Highly recommend this store!</p>
                <div class="pictures">
                    <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/awjogtdnqxniqqk0wpgf/air-max-270-shoes-2V5C4p.png" alt="shoes" />
                </div>
            </div>
        </main>
        {{> sidebar}}
</div>
