<!-- To put files in each other -->
<!-- TODO: EDIT -->
<div class="body-parent">
    {{> header}}
    <hr>
    <div id="content">
        {{> favorite}}
        <!-- MAIN HERE, use #each data -->
        <main>
            {{#each post_data}}
            <div class="post-card">
                <h2>{{post_store}}</h2>
                <h1>{{post_user}}</h1>
                <p>{{post_content}}</p>
                <div class="pictures">
                    <img src={{post_image}}/>
                </div>
            </div>
        </main>
        {{> sidebar}}
</div>
