<div>
    {{> header}}
    <hr>
    <div id="content">
        <aside></aside>
        <main>
            <h1 id="store-name">Profile</h1>
            <!-- Form inside the flex-container -->
            <div class="post-card">
                <h2>Username: {{user}}</h2>
                <h2>Reviews</h2>
            </div>
        </main>
        <aside></aside>
    </div>
</div>